
.text-danger { color: red; }
.text-warning { color: orange; }
.text-secondary { color: green; } 

.btn-purple {
    background-color: #6f42c1; 
    border-color: #6f42c1;
    color: white;
    border: none;
  }
  
  .btn-purple:hover {
    background-color: #5a32a3; 
    border-color: #5a32a3;
  }
  

  .add-task-form h2 {
    margin-bottom: 20px;
  }
  
  .priority-buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .high { background-color: #e74c3c; color: white; } 
  .medium { background-color: #f1c40f; } 
  .low { background-color: #2ecc71; color: white; } 
  
  .add-btn {
    background-color: #3498db; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
  }
  